
# Node
node_modules/
.next/
dist/
build/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.env.*
.envrc
.envrc.*
**/.env
**/.env.*
!.env.example
!**/.env.example
.venv/

# Mac
.DS_Store

# IDE
.vscode/
.idea/

# Misc
.gemini/
.agent/
tmp/
